@use '../base/colors';

.carrito {
    position: absolute;
    top: 0;
    right: 0;
    width: 40em;
    height: 100vh;
    background-color: #fff;
    box-shadow: -6px 7px 11px 2px rgba(19, 19, 19, 0.27);
    -webkit-box-shadow: -6px 7px 11px 2px rgba(19, 19, 19, 0.27);
    -moz-box-shadow: -6px 7px 11px 2px rgba(19, 19, 19, 0.27);
    
    &__box {
        padding: 2em;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    &__btn-close {
        width: 3em;
        height: 3em;
    }
    
    &__item {
        display: flex;
        gap: 1em;
    }

    &__img {
        width: 15em;
        border: 1px solid colors.$color-light;
    }

    &__info {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        gap: .2em;
    }

    &__precio {
        color: colors.$color-light2;
    }

}