$color-primary: #5eff00;
$color-dark: #131313;
$color-white: #fff;
$color-light: #f7f7f7;
$color-light2: #aaaaa8;

$color-gradient-primary: linear-gradient(to left bottom, #ba17ff, #43b6ff);

$color-success: #07bc0c;
$color-warning: #f1c40f;
$color-error: #e74c3c;

$color-carrito-circulo: #c01f0d;

